<div class="inner cover" ng-controller="mainController as mc">
	<div id="me">
		<div class="pic">
			<img src="img/profile.png"/>
		</div>	
		<div class="line">
		</div>	
		<div class="info">
			<h3>Enmanuel Valencia</h3>
			<p>Frontend Developer</p>
			<div class="social">
				<a href="https://www.linkedin.com/in/enmanuel-valencia-a54927a1/"><img src="img/social/linke.png"/></a>
				<a href="https://twitter.com/Asdenmanuel"><img src="img/social/twitter.png"/></a>
				<a href="https://www.youtube.com/channel/UCwXd0IfqDf_2TPXGmHNsMaw"><img src="img/social/youtube.png"/></a>
				<a href="mailto:contacto@enmanuelvalencia.com"><img src="img/social/mail.png"/></a>
			</div>
		</div>		
	</div>
</div>
