<div class="masthead clearfix">
	<div class="inner" ng-controller="menuController as menc">
	  <nav>
	  	<ul class="nav masthead-nav navbar-left">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span translate>MENU.LANG</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu language-menu">
			    	<li ng-click="menc.changeLanguage('en')">
			    		<span translate>OPTION.TRANSLATE.EN</span>
			    		<span ng-show="menc.currLang == 'en'" class="glyphicon glyphicon-record lang-icon"></span>
			    	</li>
					<li ng-click="menc.changeLanguage('es')">
						<span translate>OPTION.TRANSLATE.ES</span>
						<span ng-show="menc.currLang == 'es'" class="glyphicon glyphicon-record lang-icon"></span>
					</li>
		    	</ul>
			</li>
	  	</ul>
		<ul class="nav masthead-nav">
			<li><a href="/" translate>MENU.HOME</a></li>
			<li><a href="/curriculum" translate>MENU.CURRIC</a></li>
			<li><a href="/web" translate>MENU.WEB</a></li>
			<li><a href="/games" translate>MENU.GAMES</a></li>
			<!--<li><a href="#/art">Art</a></li>
			<li><a href="#/contact">Contact</a></li>-->
		</ul>
	  </nav> 
	</div>
</div>