<div flex-xs="" flex-gt-xs="50" layout="column" class="project-md-card">
  <md-card md-theme-watch="">
    <md-card-title>
      <md-card-title-text>
        <div>
          <span class="md-headline">{{p.name}}</span>
          <img ng-src="{{'img/'+p.image+'.png'}}" class="md-card-image mini-media">
        </div>
        <span class="md-subhead" translate>{{'PROJECTS.'+p.id+'.DESC'}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"><img ng-src="{{'img/'+p.image+'.png'}}" class="md-card-image"></div>
      </md-card-title-media>
    </md-card-title>
<hr>
    <md-card-actions layout="row" layout-align="end center">
      <span class="md-subhead md-subhead-small" translate>{{'PROJECTS.'+p.id+'.SUB_DESC'}}</span>
      <div>
        <a href="{{p.downloadLink}}" target="_blank" ng-hide="p.downloadLink == ''">
          <md-button class="md-icon-button s36">
            <md-icon md-svg-icon="img/icons/download.svg"></md-icon>
          </md-button>
        </a>
        <a href="{{p.githubLink}}" target="_blank" ng-hide="p.githubLink == ''">
          <md-button class="md-icon-button s36">
            <md-icon md-svg-icon="img/icons/github.svg"></md-icon>
          </md-button>
        </a>
        <a href="{{p.playLink}}" target="_blank" ng-hide="p.playLink == ''">
          <md-button class="md-icon-button s36">
            <md-icon md-svg-icon="img/icons/play.svg"></md-icon>
          </md-button>
        </a>
      </div>
    </md-card-actions>
  </md-card>
</div>